H1 { text-align: center }
body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;}
nav >a{ text-align: center;
margin: auto;
padding: 10px;
background-color:red;}

#featured-property{margin: auto;
width: 800px;
text-align: center;}
#details>div{background-color: red;
float: left;
width: 25%;}
img{display: auto;
margin-left: auto;
margin-right: auto;
width: 60%;}
figcaption{font-size: smaller;
text-align: center;}